*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
}

h3 {
    color: rgb(124, 15, 15);
}

header {
    background-color: rgb(25, 189, 47);
    border-radius: 10px;
    text-align: center;
}
#clock {
    font-size: 30px;
}
.content-section {
    text-align: center;
    color: var(--outer-space);
    box-shadow: 0rem 0rem 0.7rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);

      justify-content: center;
  }
  #content-section{
    background-color: rgb(161, 22, 108);
  }
  #question-container{
    background-color: aquamarine;
  }
  .list-item {
    background-color: rgb(192, 156, 226);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 22px;
  }
  .list-item:hover {
    background-color: var(--maya-blue);
    cursor: pointer;
  }