*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
}

h3 {
    color: rgb(124, 15, 15);
}

header {
    background-color: rgb(25, 189, 47);
    border-radius: 10px;
    text-align: center;
}
#clock {
    font-size: 30px;
}



      @media screen and (max-width: 768px) {
        .main {
          margin: 0 1rem;
        }
        .content-section {
          margin: 2rem 0.75rem;
        }
    
        .card-timer {
            height: 200px;
          }
    
          .timer-text {
              display: flex;
              flex-direction: column;
            flex-wrap: wrap;
    
          }
    
          #game-over-image{
            height: 40%;
            width: 40%;
      
        }
      }
      
      @keyframes animatedBackground {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 100% 100%;
        }
      }
